* {
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
  font-size: 48px;
  text-align:center;
  margin-bottom:12px;
  color:#321112;
}

h2 {
  font-size: 32px;
  text-align:center;
  margin-top:2px;
  margin-bottom:36px;
  color:#321112;
}

#header{

  margin: 20px 0px 0px 0px;
	padding: 20px 0px;
	border-top: 4px solid #321112;
	border-bottom: 4px solid #321112;
	background: #DADF9F;
}

#form{

	margin: 20px 0px 0px 0px;
	padding: 20px 0px;
	border-top: 4px solid #6F7728;
	border-bottom: 4px solid #6F7728;
	background: #DADF9F;
}

label {
    display:block;
    margin-top:20px;
	color:#2A270E;
	font-size: 26px;
}

a {
	color:#2A270E;
	text-decoration: none;
}

/* Style the text boxes -- to be used for web form version! */

textarea {
    width:439px;
    height:70px;
    background:#efefef;
    border:1px solid #DADF9F;
    padding:10px;
    margin-top:3px;
    font-size:1em;
    color:#3a3a3a;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

input {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #DADF9F;
    padding:10px;
    margin-top:3px;
    font-size:1em;
    color:#3a3a3a;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

input:focus, textarea:focus {
    border:1px solid #6F7728;
}

#submit {
    width:140px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
	font-size:1em;
}

#submit:hover {
	opacity:1.8;
}
